* {
  font-family: Hind, sans-serif;
}

header .first-nav {
  height: 100px;
  background-color: transparent;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 6%;
}
header .first-nav .container .dropdown-items {
  margin-left: 200px;
  gap: 10px;
}
header .first-nav .container .dropdown-items a {
  position: relative;
  color: white;
  text-decoration: none;
}
header .first-nav .container .dropdown-items a i {
  font-size: 13px;
  position: relative;
  display: inline-block;
}
header .first-nav .container .dropdown-items a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.3s ease;
}
header .first-nav .container .dropdown-items a:hover::before {
  width: 100%;
}
header .first-nav .container .dropdown-items .list-group {
  position: absolute;
  top: 120%;
  left: 0;
  width: 200px;
  background: #ffffff;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
  box-shadow: 0 30px 70px rgba(11, 6, 70, 0.0784313725);
  border-radius: 0px;
  display: none;
}
header .first-nav .container .dropdown-items .list-group li {
  padding: 10px 25px;
  font-size: 13px;
  position: relative;
  z-index: 1;
  color: #0e1133;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #2b4eff 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
header .first-nav .container .dropdown-items .list-group li:hover {
  color: white;
  background-position: left bottom;
}
header .first-nav .container .dropdown-items .active-dropdown {
  opacity: 1;
  cursor: pointer;
  display: unset;
}
header .first-nav .container .dropdown-items li {
  display: flex;
  transition: all 0.5s;
}
header .first-nav .container .dropdown-items .dropdown-toggle::after {
  display: none;
}
header .first-nav .container .contact-li {
  margin-right: 16px;
}
header .first-nav .container .contact-li a {
  color: white !important;
}
header .first-nav .container .category-dropdown {
  position: absolute;
  list-style: none;
  top: 80%;
  left: 12%;
  width: 200px;
  background: #ffffff;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
  box-shadow: 0 30px 70px rgba(11, 6, 70, 0.0784313725);
  border-radius: 0px;
  padding-left: 0px;
  display: none;
}
header .first-nav .container .category-dropdown li {
  padding: 13px 25px 13px;
  font-size: 13px;
  position: relative;
  z-index: 1;
  color: #0e1133;
  width: 100%;
  color: #6d6e75;
  font-weight: 500;
  transition: all 0.5s;
}
header .first-nav .container .category-dropdown li:hover {
  color: #2b4eff;
}
header .first-nav .container .active-category {
  opacity: 1;
  cursor: pointer;
  display: unset;
}
header .first-nav .container .logo {
  cursor: pointer;
}
header .first-nav .container a {
  font-size: 16px;
  font-weight: 500;
  color: #0e1133;
}
header .first-nav .container .category-border {
  border-left: 1px solid rgba(209, 209, 209, 0.712);
  transition: all 0.5s;
}
header .first-nav .container .category-border .dots {
  margin-top: 0px;
  margin-left: 20px;
}
header .first-nav .container .category-border .dots a {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
header .first-nav .container .category-border .dots i {
  padding: 0.5px;
  margin-top: 12px;
  color: white;
}
header .first-nav .container .search-input {
  display: flex;
  gap: 15px;
  justify-content: center;
}
header .first-nav .container .search-input input {
  transition: all 0.5s;
  width: 280px;
  line-height: 20px;
  border-radius: 4px;
  background: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  font-size: 16px;
  padding: 15px 65px 15px 55px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
header .first-nav .container .search-input input:focus {
  border: 1px solid #2b4eff;
}
header .first-nav .container .search-input input::-moz-placeholder {
  font-size: 0.9rem;
  text-align: left;
}
header .first-nav .container .search-input input::placeholder {
  font-size: 0.9rem;
  text-align: left;
}
header .first-nav .container .search-input .fa-magnifying-glass {
  position: absolute;
  font-weight: 900;
  margin-left: -380px;
  margin-top: 19px;
  cursor: pointer;
}
header .first-nav .container .search-input .shop-icon {
  position: absolute;
  margin-top: 16px;
  margin-right: -70px;
  border-left: 2px solid rgba(209, 209, 209, 0.712);
}
header .first-nav .container .search-input .shop-icon:hover span {
  background-color: #151a53;
}
header .first-nav .container .search-input .shop-icon .fa-cart-shopping {
  font-size: 17px;
  margin-left: 10px;
  cursor: pointer;
}
header .first-nav .container .search-input .shop-icon span {
  background-color: #2b4eff;
  color: white;
  border-radius: 50%;
  padding: 0px 5px;
  font-size: 12px;
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
  transition: all 0.5s;
}
header .first-nav .container .search-input button {
  height: 51.6px;
  text-align: center;
  color: #fff;
  padding: 0px 25px;
  background: #2b4eff;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.5s;
}
header .first-nav .container .search-input button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
header .second-nav {
  height: 100px;
  background-color: #edeef3;
}
header .second-nav .container .dropdown-items {
  margin-left: 200px;
  gap: 10px;
}
header .second-nav .container .dropdown-items a:hover {
  color: #2b4eff;
}
header .second-nav .container .dropdown-items a i {
  font-size: 13px;
}
header .second-nav .container .dropdown-items .list-group {
  position: absolute;
  top: 120%;
  left: 0;
  width: 200px;
  background: #ffffff;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
  box-shadow: 0 30px 70px rgba(11, 6, 70, 0.0784313725);
  border-radius: 0px;
  display: none;
}
header .second-nav .container .dropdown-items .list-group li {
  padding: 10px 25px;
  font-size: 13px;
  position: relative;
  z-index: 1;
  color: #0e1133;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #2b4eff 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
header .second-nav .container .dropdown-items .list-group li:hover {
  color: white;
  background-position: left bottom;
}
header .second-nav .container .dropdown-items .active-dropdown {
  opacity: 1;
  cursor: pointer;
  display: unset;
}
header .second-nav .container .dropdown-items li {
  display: flex;
  transition: all 0.5s;
}
header .second-nav .container .dropdown-items .dropdown-toggle::after {
  display: none;
}
header .second-nav .container .contact-li a:hover {
  color: #2b4eff;
}
header .second-nav .container .category-dropdown {
  position: absolute;
  list-style: none;
  top: 80%;
  left: 17%;
  width: 200px;
  background: #ffffff;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
  box-shadow: 0 30px 70px rgba(11, 6, 70, 0.0784313725);
  border-radius: 0px;
  padding-left: 0px;
  display: none;
}
header .second-nav .container .category-dropdown li {
  padding: 13px 25px 13px;
  font-size: 13px;
  position: relative;
  z-index: 1;
  color: #0e1133;
  width: 100%;
  color: #6d6e75;
  font-weight: 500;
  transition: all 0.5s;
}
header .second-nav .container .category-dropdown li:hover {
  color: #2b4eff;
}
header .second-nav .container .active-category {
  opacity: 1;
  cursor: pointer;
  display: unset;
}
header .second-nav .container .logo {
  cursor: pointer;
}
header .second-nav .container a {
  font-size: 16px;
  font-weight: 500;
  color: #0e1133;
}
header .second-nav .container .category-border {
  border-left: 1px solid rgba(209, 209, 209, 0.712);
  transition: all 0.5s;
}
header .second-nav .container .category-border .dots {
  margin-top: 0px;
  margin-left: 20px;
}
header .second-nav .container .category-border .dots:hover a,
header .second-nav .container .category-border .dots:hover i {
  color: #2b4eff;
  transition: all 0.5s;
}
header .second-nav .container .category-border .dots a {
  font-size: 16px;
  font-weight: 500;
  color: #0e1133;
}
header .second-nav .container .category-border .dots i {
  padding: 0.5px;
  margin-top: 12px;
}
header .second-nav .container .search-input {
  display: flex;
  gap: 15px;
  justify-content: center;
}
header .second-nav .container .search-input input {
  transition: all 0.5s;
  width: 280px;
  line-height: 20px;
  border-radius: 4px;
  background: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  font-size: 16px;
  padding: 15px 65px 15px 55px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
header .second-nav .container .search-input input:focus {
  border: 1px solid #2b4eff;
}
header .second-nav .container .search-input input::-moz-placeholder {
  font-size: 0.9rem;
  text-align: left;
}
header .second-nav .container .search-input input::placeholder {
  font-size: 0.9rem;
  text-align: left;
}
header .second-nav .container .search-input .fa-magnifying-glass {
  position: absolute;
  font-weight: 900;
  margin-left: -380px;
  margin-top: 19px;
  cursor: pointer;
}
header .second-nav .container .search-input .shop-icon {
  position: absolute;
  margin-top: 16px;
  margin-right: -70px;
  border-left: 2px solid rgba(209, 209, 209, 0.712);
}
header .second-nav .container .search-input .shop-icon:hover span {
  background-color: #151a53;
}
header .second-nav .container .search-input .shop-icon .fa-cart-shopping {
  font-size: 17px;
  margin-left: 10px;
  cursor: pointer;
}
header .second-nav .container .search-input .shop-icon span {
  background-color: #2b4eff;
  color: white;
  border-radius: 50%;
  padding: 0px 5px;
  font-size: 12px;
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
  transition: all 0.5s;
}
header .second-nav .container .search-input button {
  height: 51.6px;
  text-align: center;
  color: #fff;
  padding: 0px 25px;
  background: #2b4eff;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.5s;
}
header .second-nav .container .search-input button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
header .fixed-top {
  background-color: #ffffff;
  z-index: 100;
}

main #intro .background {
  position: absolute;
  z-index: 0;
  top: 0;
  height: 450px;
  padding: 170px 0px;
  background-image: linear-gradient(80deg, rgba(21, 12, 69, 0.5607492997) 0%, rgba(6, 14, 73, 0.4178921569) 99%, rgb(100, 150, 165) 99%, rgb(255, 248, 249) 100%, rgb(254, 255, 253) 100%), url(../images/page-title.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
main #intro .background .container .row .col-12 {
  margin-left: 10px;
}
main #intro .background .container .row .col-12 h1 {
  margin-top: 30px;
  font-size: 70px;
  color: #fff;
  font-weight: 700;
}
main #intro .background .container .row .home-courses {
  display: flex;
  gap: 10px;
}
main #intro .background .container .row .home-courses span {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
main #intro .background .container .row .home-courses .intro-home {
  cursor: pointer;
}
main #body-part {
  margin-top: 600px;
  padding-bottom: 200px;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 370px;
  border-radius: 5px;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-top {
  overflow: hidden;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-top img {
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-top img:hover {
  transform: scale(1.1, 1.1);
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-middle {
  padding: 20px 20px 10px;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-middle span {
  background: rgba(48, 168, 32, 0.1);
  color: #30a820;
  transition: all 0.5s;
  border-radius: 4px;
  height: 20px;
  font-size: 14px;
  padding: 2px 6px;
  cursor: pointer;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-middle span:hover {
  background: #30a820;
  color: #fff;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-middle h3 {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 35px;
  color: #0e1133;
  font-weight: 700;
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-middle h3:hover {
  color: #2b4eff;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 20px;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-bottom .bottom-left img {
  width: 35px;
  height: 35px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 10px 14px rgba(1, 11, 60, 0.1019607843);
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-bottom .bottom-left span {
  font-size: 16px;
  font-weight: 500;
  color: #53545b;
  padding-top: 2px;
  cursor: pointer;
  transition: all 0.5s;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-bottom .bottom-left span:hover {
  color: #2b4eff;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-bottom .bottom-right i {
  font-size: 14px;
  color: #53545b;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .blog-card .card-bottom .bottom-right span {
  font-size: 14px;
  color: #53545b;
  font-weight: 500;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .card-2 .card-middle span {
  color: #0fa0dd;
  background: rgba(15, 160, 221, 0.1);
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .card-2 .card-middle span:hover {
  color: white;
  background: #0fa0dd;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .card-3 .card-middle span {
  background: rgba(48, 168, 32, 0.1);
  color: #30a820;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .card-3 .card-middle span:hover {
  color: white;
  background: #30a820;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .card-4 .card-middle span {
  background: rgba(43, 78, 255, 0.1);
  color: #2b4eff;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .card-4 .card-middle span:hover {
  color: white;
  background: #2b4eff;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .card-5 .card-middle span {
  background: rgba(250, 121, 25, 0.1);
  color: #fa7919;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .card-5 .card-middle span:hover {
  color: white;
  background: #fa7919;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .card-6 .card-middle span {
  background: rgba(242, 39, 126, 0.1);
  color: #f2277e;
}
main #body-part .container .row .col-lg-8 .row .col-lg-6 .card-6 .card-middle span:hover {
  color: white;
  background: #f2277e;
}
main #body-part .container .row .col-lg-8 .pagination nav {
  margin-top: 30px;
}
main #body-part .container .row .col-lg-8 .pagination nav ul {
  cursor: pointer;
}
main #body-part .container .row .col-lg-8 .pagination nav ul li {
  color: #0e1133;
}
main #body-part .container .row .col-lg-8 .pagination nav ul span {
  color: #0e1133;
}
main #body-part .container .row .col-lg-8 .pagination nav .active {
  color: white;
}
main #body-part .container .row .col-lg-4 .srch-input input {
  width: 75%;
  height: 60px;
  line-height: 56px;
  background: #f3f4f8;
  border: 2px solid #f3f4f8;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 45px;
  position: relative;
}
main #body-part .container .row .col-lg-4 .srch-input input:focus {
  outline: 1.7px solid #2b4eff;
}
main #body-part .container .row .col-lg-4 .srch-input ::-moz-placeholder {
  font-size: 13px;
  font-weight: 500;
}
main #body-part .container .row .col-lg-4 .srch-input ::placeholder {
  font-size: 13px;
  font-weight: 500;
}
main #body-part .container .row .col-lg-4 .srch-input i {
  position: absolute;
  margin-top: 17px;
  margin-left: -40px;
  font-size: 18px;
  cursor: pointer;
}
main #body-part .container .row .col-lg-4 .recent-posts {
  margin-top: 50px;
}
main #body-part .container .row .col-lg-4 .recent-posts h3 {
  font-size: 20px;
  padding-bottom: 7px;
  color: #0e1133;
  font-weight: 700;
}
main #body-part .container .row .col-lg-4 .recent-posts hr {
  width: 75%;
  margin-top: -3px;
  border: 1px solid #b7b7b7;
}
main #body-part .container .row .col-lg-4 .recent-posts .post-card {
  height: 75px;
  display: flex;
}
main #body-part .container .row .col-lg-4 .recent-posts .post-card .left-card img {
  width: 75px;
  height: 75px;
  cursor: pointer;
}
main #body-part .container .row .col-lg-4 .recent-posts .post-card .right-card {
  margin-left: 20px;
  width: 60%;
}
main #body-part .container .row .col-lg-4 .recent-posts .post-card .right-card span {
  color: #53545b;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
}
main #body-part .container .row .col-lg-4 .recent-posts .post-card .right-card h4 {
  font-size: 18px;
  color: #0e1133;
  font-weight: 600;
  line-height: 1.3;
  transition: all 0.5s;
  cursor: pointer;
}
main #body-part .container .row .col-lg-4 .recent-posts .post-card .right-card h4:hover {
  color: #2b4eff;
}
main #body-part .container .row .col-lg-4 .categories {
  margin-top: 70px;
}
main #body-part .container .row .col-lg-4 .categories h3 {
  font-size: 20px;
  padding-bottom: 7px;
  color: #0e1133;
  font-weight: 700;
}
main #body-part .container .row .col-lg-4 .categories hr {
  width: 75%;
  margin-top: -3px;
  border: 1px solid #b7b7b7;
}
main #body-part .container .row .col-lg-4 .categories ul {
  margin-top: 30px;
}
main #body-part .container .row .col-lg-4 .categories ul li {
  font-size: 16px;
  font-weight: 500;
  color: #53545b;
  padding-left: 15px;
  margin-top: 13px;
  transition: all 0.5s;
  cursor: pointer;
}
main #body-part .container .row .col-lg-4 .categories ul li:hover {
  color: #2b4eff;
}
main #body-part .container .row .col-lg-4 .tags {
  margin-top: 50px;
}
main #body-part .container .row .col-lg-4 .tags h3 {
  font-size: 20px;
  padding-bottom: 7px;
  color: #0e1133;
  font-weight: 700;
}
main #body-part .container .row .col-lg-4 .tags hr {
  margin-top: -3px;
  width: 75%;
  border: 1px solid #b7b7b7;
}
main #body-part .container .row .col-lg-4 .tags .buttons {
  width: 75%;
}
main #body-part .container .row .col-lg-4 .tags .buttons button {
  height: 36px;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 500;
  color: #53545b;
  background: #f3f4f8;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 10px;
  border: none;
  transition: all 0.5s;
}
main #body-part .container .row .col-lg-4 .tags .buttons button:hover {
  background-color: #2b4eff;
  color: white;
}
main #body-part .container .row .col-lg-4 .last-image {
  margin-top: 50px;
}

footer {
  background-color: #141130;
  position: relative;
}
footer #adv-box .adv-div {
  background-color: #2b4eff;
  width: 75%;
  margin: 0 auto;
  padding: 50px 100px 53px 70px;
  border-radius: 10px;
  box-shadow: 0 30px 60px rgba(0, 4, 48, 0.3019607843);
  position: absolute;
  bottom: 78%;
  left: 12%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
footer #adv-box .adv-div .adv-right h1 {
  font-size: 46px;
  color: #fff;
  padding-top: 15px;
  font-weight: 600;
}
footer #adv-box .adv-div .adv-left img {
  position: absolute;
  left: 70%;
  top: -125%;
  z-index: 0;
}
footer #adv-box .adv-div .adv-left button {
  position: absolute;
  z-index: 1;
  left: 80%;
  top: 42%;
  color: #0e1133;
  height: 54px;
  background: #ffffff;
  padding: 0 45px;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.5s;
}
footer #adv-box .adv-div .adv-left button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
footer #footer-main {
  padding-bottom: 50px;
}
footer #footer-main .container-custom {
  width: 75%;
  margin: 0 auto;
}
footer #footer-main .container-custom .row {
  padding-top: 200px;
}
footer #footer-main .container-custom .row .first-footer img {
  margin-bottom: 30px;
}
footer #footer-main .container-custom .row .first-footer p {
  font-size: 16px;
  line-height: 24px;
  color: #a1a2ab;
  margin-bottom: 30px;
}
footer #footer-main .container-custom .row .first-footer .icons {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
footer #footer-main .container-custom .row .first-footer .icons .fb {
  background-color: #285da1;
  padding: 6px 14px;
  font-size: 20px;
  border-radius: 4px;
  transition: all 0.5s;
}
footer #footer-main .container-custom .row .first-footer .icons .fb:hover {
  border: 1px solid #285da1;
  background-color: transparent;
}
footer #footer-main .container-custom .row .first-footer .icons .fb:hover .fa-facebook-f {
  color: #285da1;
}
footer #footer-main .container-custom .row .first-footer .icons .fb .fa-facebook-f {
  color: white;
  transition: all 0.5s;
}
footer #footer-main .container-custom .row .first-footer .icons .tw {
  background-color: #03a9f4;
  padding: 6px 11px;
  font-size: 20px;
  border-radius: 4px;
  transition: all 0.5s;
}
footer #footer-main .container-custom .row .first-footer .icons .tw:hover {
  border: 1px solid #03a9f4;
  background-color: transparent;
}
footer #footer-main .container-custom .row .first-footer .icons .tw:hover .fa-twitter {
  color: #03a9f4;
}
footer #footer-main .container-custom .row .first-footer .icons .tw .fa-twitter {
  color: white;
  transition: all 0.5s;
}
footer #footer-main .container-custom .row .first-footer .icons .pnt {
  background-color: #d2173f;
  padding: 6px 14px;
  font-size: 20px;
  border-radius: 4px;
  transition: all 0.5s;
}
footer #footer-main .container-custom .row .first-footer .icons .pnt:hover {
  border: 1px solid #d2173f;
  background-color: transparent;
}
footer #footer-main .container-custom .row .first-footer .icons .pnt:hover .fa-pinterest-p {
  color: #d2173f;
}
footer #footer-main .container-custom .row .first-footer .icons .pnt .fa-pinterest-p {
  color: white;
  transition: all 0.5s;
}
footer #footer-main .container-custom .row .second-footer {
  margin-left: 60px;
}
footer #footer-main .container-custom .row .second-footer h3 {
  padding-top: 5px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
footer #footer-main .container-custom .row .second-footer ul {
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
footer #footer-main .container-custom .row .second-footer ul li {
  color: #a1a2ab;
  margin-top: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
footer #footer-main .container-custom .row .second-footer ul li:hover {
  color: #fff;
}
footer #footer-main .container-custom .row .third-footer {
  margin-left: 60px;
}
footer #footer-main .container-custom .row .third-footer h3 {
  padding-top: 5px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
footer #footer-main .container-custom .row .third-footer ul {
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
footer #footer-main .container-custom .row .third-footer ul li {
  color: #a1a2ab;
  margin-top: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
footer #footer-main .container-custom .row .third-footer ul li:hover {
  color: #fff;
}
footer #footer-main .container-custom .row .last-footer {
  margin-left: 60px;
}
footer #footer-main .container-custom .row .last-footer h3 {
  padding-top: 5px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
footer #footer-main .container-custom .row .last-footer .input-group {
  margin-top: 20px;
  display: flex;
}
footer #footer-main .container-custom .row .last-footer .input-group input {
  width: 100%;
  height: 60px;
  padding: 0 50px 0 30px;
  border-radius: 4px;
  border: none;
}
footer #footer-main .container-custom .row .last-footer .input-group input::-moz-placeholder {
  font-size: 14px;
}
footer #footer-main .container-custom .row .last-footer .input-group input::placeholder {
  font-size: 14px;
}
footer #footer-main .container-custom .row .last-footer .input-group input:focus {
  outline: none;
}
footer #footer-main .container-custom .row .last-footer .input-group span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  color: #fff;
  background: #2b4eff;
  width: 70px;
  height: 60px;
  padding-right: 25px;
}
footer #footer-main .container-custom .row .last-footer .input-group span i {
  font-size: 18px;
  margin-top: 21px;
  margin-left: 25px;
  cursor: pointer;
}
footer #footer-main .container-custom .row .last-footer p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #83848a;
  padding-right: 60px;
}
footer hr {
  border: 0.1px solid rgba(162, 163, 166, 0.6901960784);
}
footer #footer-bottom p {
  font-size: 14px;
  color: #83848a;
  margin: 0;
  text-align: center;
  padding-bottom: 14px;
}
footer #footer-bottom p a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  footer #adv-box .adv-div {
    flex-direction: column;
    width: 90% !important;
    left: 5% !important;
    bottom: 92% !important;
    padding: 20px 30px 80px !important;
  }
  footer #adv-box .adv-div .adv-right h1 {
    font-size: 26px !important;
  }
  footer #adv-box .adv-div .adv-left img {
    display: none;
  }
  footer #adv-box .adv-div .adv-left button {
    left: 7% !important;
    top: 70% !important;
  }
  footer #footer-main .container-custom {
    margin: 0px 30px !important;
  }
  footer #footer-main .container-custom .col-12 {
    margin-left: 5px !important;
    margin-top: 20px !important;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes mover {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(50px);
  }
}
@keyframes section-animation {
  0% {
    width: 0;
  }
  15% {
    width: 12%;
  }
  85% {
    opacity: 1;
  }
  90% {
    width: 12%;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes hero-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes animation-yellow {
  0% {
    width: 0;
  }
  15% {
    width: 10%;
  }
  85% {
    opacity: 1;
  }
  90% {
    width: 10%;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}/*# sourceMappingURL=blog.css.map */