* {
    font-family: Hind, sans-serif;
}

header {

    .first-nav {
        height: 100px;
        background-color: transparent;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 6%;

        .container {
            .dropdown-items {
                margin-left: 200px;
                gap: 10px;

                a {
                    position: relative;
                    color: white;
                    text-decoration: none;

                    i {
                        font-size: 13px;
                        position: relative;
                        display: inline-block;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 1px;
                        background-color: white;
                        transition: width 0.3s ease;
                    }

                    &:hover::before {
                        width: 100%
                    }
                }

                .list-group {
                    position: absolute;
                    top: 120%;
                    left: 0;
                    width: 200px;
                    background: #ffffff;
                    z-index: 99;
                    transition: all .3s ease-out 0s;
                    opacity: 0;
                    box-shadow: 0 30px 70px #0b064614;
                    border-radius: 0px;
                    display: none;

                    li {
                        padding: 10px 25px;
                        font-size: 13px;
                        position: relative;
                        z-index: 1;
                        color: #0e1133;
                        width: 100%;
                        border-bottom: 1px solid rgba(0, 0, 0, .1);
                        background: linear-gradient(to right, #2b4eff 50%, white 50%);
                        background-size: 200% 100%;
                        background-position: right bottom;
                        transition: all .5s ease-out;

                        &:hover {
                            color: white;
                            background-position: left bottom;
                        }
                    }
                }


                .active-dropdown {
                    opacity: 1;
                    cursor: pointer;
                    display: unset;
                }

                li {

                    display: flex;
                    transition: all 0.5s;
                }

                .dropdown-toggle::after {
                    display: none;
                }
            }

            .contact-li {
                margin-right: 16px;

                a {
                    color: white !important;
                }
            }

            .category-dropdown {
                position: absolute;
                list-style: none;
                top: 80%;
                left: 12%;
                width: 200px;
                background: #ffffff;
                z-index: 99;
                transition: all .3s ease-out 0s;
                opacity: 0;
                box-shadow: 0 30px 70px #0b064614;
                border-radius: 0px;
                padding-left: 0px;
                display: none;

                li {
                    padding: 13px 25px 13px;
                    font-size: 13px;
                    position: relative;
                    z-index: 1;
                    color: #0e1133;
                    width: 100%;
                    color: #6d6e75;
                    font-weight: 500;
                    transition: all 0.5s;

                    &:hover {
                        color: #2b4eff;

                    }
                }
            }


            .active-category {
                opacity: 1;
                cursor: pointer;
                display: unset;
            }

            .logo {
                cursor: pointer;
            }

            a {
                font-size: 16px;
                font-weight: 500;
                color: #0e1133;
            }

            .category-border {
                border-left: 1px solid rgba(209, 209, 209, 0.712);
                transition: all 0.5s;

                .dots {
                    margin-top: 0px;
                    margin-left: 20px;

                    a {
                        font-size: 16px;
                        font-weight: 500;
                        color: white;
                    }

                    i {
                        padding: 0.5px;
                        margin-top: 12px;
                        color: white;
                    }
                }
            }

            .search-input {
                display: flex;
                gap: 15px;
                justify-content: center;

                input {
                    transition: all 0.5s;
                    width: 280px;
                    line-height: 20px;
                    border-radius: 4px;
                    background: #ffffff;
                    outline: none;
                    border: 1px solid #ffffff;
                    font-size: 16px;
                    padding: 15px 65px 15px 55px;
                    position: relative;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }

                input:focus {
                    border: 1px solid #2b4eff;
                }

                input::placeholder {
                    font-size: 0.9rem;
                    text-align: left;
                }

                .fa-magnifying-glass {
                    position: absolute;
                    font-weight: 900;
                    margin-left: -380px;
                    margin-top: 19px;
                    cursor: pointer;
                }

                .shop-icon {
                    position: absolute;
                    margin-top: 16px;
                    margin-right: -70px;
                    border-left: 2px solid rgba(209, 209, 209, 0.712);

                    &:hover {
                        span {
                            background-color: #151a53;
                        }
                    }

                    .fa-cart-shopping {
                        font-size: 17px;
                        margin-left: 10px;
                        cursor: pointer;
                    }

                    span {
                        background-color: #2b4eff;
                        color: white;
                        border-radius: 50%;
                        padding: 0px 5px;
                        font-size: 12px;
                        position: absolute;
                        margin-left: -10px;
                        margin-top: -10px;
                        transition: all 0.5s;
                    }
                }

                button {
                    height: 51.6px;
                    text-align: center;
                    color: #fff;
                    padding: 0px 25px;
                    background: #2b4eff;
                    border-radius: 4px;
                    font-weight: 500;
                    transition: all 0.5s;

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
                    }
                }
            }
        }

    }

    .second-nav {
        height: 100px;
        background-color: #edeef3;

        .container {
            .dropdown-items {
                margin-left: 200px;
                gap: 10px;

                a {
                    &:hover {
                        color: #2b4eff;
                    }

                    i {
                        font-size: 13px;
                    }
                }

                .list-group {
                    position: absolute;
                    top: 120%;
                    left: 0;
                    width: 200px;
                    background: #ffffff;
                    z-index: 99;
                    transition: all .3s ease-out 0s;
                    opacity: 0;
                    box-shadow: 0 30px 70px #0b064614;
                    border-radius: 0px;
                    display: none;

                    li {
                        padding: 10px 25px;
                        font-size: 13px;
                        position: relative;
                        z-index: 1;
                        color: #0e1133;
                        width: 100%;
                        border-bottom: 1px solid rgba(0, 0, 0, .1);
                        background: linear-gradient(to right, #2b4eff 50%, white 50%);
                        background-size: 200% 100%;
                        background-position: right bottom;
                        transition: all .5s ease-out;

                        &:hover {
                            color: white;
                            background-position: left bottom;
                        }
                    }
                }


                .active-dropdown {
                    opacity: 1;
                    cursor: pointer;
                    display: unset;
                }

                li {

                    display: flex;
                    transition: all 0.5s;
                }

                .dropdown-toggle::after {
                    display: none;
                }
            }

            .contact-li {
                a {
                    &:hover {
                        color: #2b4eff;
                    }
                }
            }

            .category-dropdown {
                position: absolute;
                list-style: none;
                top: 80%;
                left: 17%;
                width: 200px;
                background: #ffffff;
                z-index: 99;
                transition: all .3s ease-out 0s;
                opacity: 0;
                box-shadow: 0 30px 70px #0b064614;
                border-radius: 0px;
                padding-left: 0px;
                display: none;

                li {
                    padding: 13px 25px 13px;
                    font-size: 13px;
                    position: relative;
                    z-index: 1;
                    color: #0e1133;
                    width: 100%;
                    color: #6d6e75;
                    font-weight: 500;
                    transition: all 0.5s;

                    &:hover {
                        color: #2b4eff;

                    }
                }
            }


            .active-category {
                opacity: 1;
                cursor: pointer;
                display: unset;
            }

            .logo {
                cursor: pointer;
            }

            a {
                font-size: 16px;
                font-weight: 500;
                color: #0e1133;
            }

            .category-border {
                border-left: 1px solid rgba(209, 209, 209, 0.712);
                transition: all 0.5s;

                .dots {
                    margin-top: 0px;
                    margin-left: 20px;

                    &:hover {

                        a,
                        i {
                            color: #2b4eff;
                            transition: all 0.5s;
                        }

                    }

                    a {
                        font-size: 16px;
                        font-weight: 500;
                        color: #0e1133;
                    }

                    i {
                        padding: 0.5px;
                        margin-top: 12px;
                    }
                }
            }

            .search-input {
                display: flex;
                gap: 15px;
                justify-content: center;

                input {
                    transition: all 0.5s;
                    width: 280px;
                    line-height: 20px;
                    border-radius: 4px;
                    background: #ffffff;
                    outline: none;
                    border: 1px solid #ffffff;
                    font-size: 16px;
                    padding: 15px 65px 15px 55px;
                    position: relative;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }

                input:focus {
                    border: 1px solid #2b4eff;
                }

                input::placeholder {
                    font-size: 0.9rem;
                    text-align: left;
                }

                .fa-magnifying-glass {
                    position: absolute;
                    font-weight: 900;
                    margin-left: -380px;
                    margin-top: 19px;
                    cursor: pointer;
                }

                .shop-icon {
                    position: absolute;
                    margin-top: 16px;
                    margin-right: -70px;
                    border-left: 2px solid rgba(209, 209, 209, 0.712);

                    &:hover {
                        span {
                            background-color: #151a53;
                        }
                    }

                    .fa-cart-shopping {
                        font-size: 17px;
                        margin-left: 10px;
                        cursor: pointer;
                    }

                    span {
                        background-color: #2b4eff;
                        color: white;
                        border-radius: 50%;
                        padding: 0px 5px;
                        font-size: 12px;
                        position: absolute;
                        margin-left: -10px;
                        margin-top: -10px;
                        transition: all 0.5s;
                    }
                }

                button {
                    height: 51.6px;
                    text-align: center;
                    color: #fff;
                    padding: 0px 25px;
                    background: #2b4eff;
                    border-radius: 4px;
                    font-weight: 500;
                    transition: all 0.5s;

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
                    }
                }
            }
        }

    }


    .fixed-top {
        background-color: #ffffff;
        z-index: 100;
    }
}

main {
    #intro {
        .background {
            position: absolute;
            z-index: 0;
            top: 0;
            height: 450px;
            padding: 170px 0px;
            background-image: linear-gradient(80deg, rgba(21, 12, 69, 0.560749299719888) 0%, rgba(6, 14, 73, 0.41789215686274506) 99%, rgba(100, 150, 165, 1) 99%, rgba(255, 248, 249, 1) 100%, rgba(254, 255, 253, 1) 100%), url(../images/page-title.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;

            .container {
                .row {
                    .col-12 {
                        margin-left: 10px;

                        h1 {
                            margin-top: 30px;
                            font-size: 70px;
                            color: #fff;
                            font-weight: 700;
                        }
                    }

                    .home-courses {
                        display: flex;
                        gap: 10px;

                        span {
                            font-size: 16px;
                            font-weight: 400;
                            color: #fff;

                        }

                        .intro-home {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    #body-part {
        margin-top: 600px;
        padding-bottom: 100px;

        .container {
            .row {
                .col-lg-8 {
                    .heading {
                        h2 {
                            font-size: 40px;
                            color: #0e1133;
                            font-weight: 700;
                            position: relative;
                            z-index: 1;
                        }

                        img {
                            width: 10%;
                            position: absolute;
                            z-index: 0;
                            margin-top: -23px;
                            margin-left: 110px;
                            animation: animation-yellow 3s infinite;
                        }


                        p {
                            font-size: 16px;
                            color: #53545b;
                            font-weight: 400;
                        }
                    }

                    .name-email {
                        margin-top: 40px;

                        .col-5 {
                            input {
                                width: 100%;
                                height: 56px;
                                line-height: 54px;
                                padding: 0 23px;
                                background: #f3f4f8;
                                border-radius: 4px;
                                border: 2px solid #f3f4f8;
                                color: #0e1133;
                                font-size: 15px;

                                &:focus {
                                    outline: 1.6px solid #2b4eff;
                                }
                            }
                        }
                    }

                    .subject {
                        .col-12 {
                            input {
                                margin-top: 20px;
                                width: 83%;
                                height: 56px;
                                line-height: 54px;
                                padding: 0 23px;
                                background: #f3f4f8;
                                border-radius: 4px;
                                border: 2px solid #f3f4f8;
                                color: #0e1133;
                                font-size: 15px;
                                margin-bottom: 20px;

                                &:focus {
                                    outline: 1.6px solid #2b4eff;
                                }
                            }
                        }
                    }

                    .your-message {
                        .col-12 {
                            input {
                                height: 180px;
                                padding: 0px 25px 110px;
                                width: 83%;
                                background: #f3f4f8;
                                border-radius: 4px;
                                border: 2px solid #f3f4f8;
                                color: #0e1133;
                                font-size: 15px;

                                &:focus {
                                    outline: 1.6px solid #2b4eff;
                                }
                            }
                        }
                    }

                    .terms {
                        input {
                            margin-top: 20px;
                            cursor: pointer;
                            width: 14px;
                            height: 14px;
                            border: 1px solid #b9bac1;
                            outline: none;
                            border-radius: 4px;
                        }

                        label {
                            cursor: pointer;
                            padding-left: 10px;
                            color: #53545b;

                            span {
                                color: #0e1133;
                                font-size: 15px;
                                font-weight: 600;
                                transition: all 0.5s;

                                &:hover {
                                    color: #2b4eff;
                                }
                            }
                        }
                    }

                    .send-message-button {
                        margin-top: 20px;

                        button {
                            height: 50px;
                            text-align: center;
                            padding: 0 25px;
                            color: #fff;
                            background: #2b4eff;
                            border-radius: 4px;
                            font-weight: 500;
                            transition: all 0.5s;

                            &:hover {
                                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                            }
                        }
                    }
                }

                .col-lg-4 {
                    position: relative;

                    .background-images {
                        .pink-dots {
                            position: absolute;
                            top: 5%;
                            left: 88%;
                            z-index: -10;
                        }

                        .blue-circle {
                            position: absolute;
                            top: 45%;
                            left: 100%;
                            z-index: -10;
                        }

                        .blue-sprinkles {
                            position: absolute;
                            top: 63%;
                            left: -20px;
                            z-index: -10;
                        }
                    }

                    .contact-card {
                        padding: 50px 40px;
                        background-color: #fff;
                        border-radius: 4px;
                        z-index: 100;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                        .contact-info {
                            display: flex;
                            width: 80%;

                            .info-icon {
                                i {
                                    width: 10px;
                                    color: #2b4eff;
                                }
                            }

                            .info-data {
                                flex-wrap: wrap;
                                margin-left: 18px;

                                h3 {
                                    font-size: 20px;
                                    font-weight: 600;
                                }

                                p {
                                    font-size: 15px;
                                    font-weight: 400;
                                    color: #6d6e75;
                                    margin-top: -10px;
                                }
                            }

                            .follow {
                                margin-left: 28px;

                                .icons {
                                    display: flex;
                                    gap: 10px;
                                    cursor: pointer;
                                    margin-top: 20px;

                                    .fb {
                                        color: #285da1;
                                        background: rgba(40, 93, 161, .1);
                                        padding: 7px 14px;
                                        font-size: 18px;
                                        border-radius: 4px;
                                        transition: all 0.5s;

                                        &:hover {
                                            .fa-facebook-f {
                                                color: white
                                            }

                                            background-color: #285da1;
                                        }

                                        .fa-facebook-f {
                                            color: #285da1;
                                            transition: all 0.5s;
                                        }
                                    }

                                    .tw {
                                        background: rgba(3, 169, 244, .1);
                                        padding: 8px 11px 7px;
                                        font-size: 18px;
                                        border-radius: 4px;
                                        transition: all 0.5s;

                                        &:hover {
                                            .fa-twitter {
                                                color: white
                                            }

                                            background-color: #03a9f4;
                                        }

                                        .fa-twitter {
                                            color: #03a9f4;
                                            transition: all 0.5s;
                                        }
                                    }

                                    .pnt {
                                        background: rgba(216, 22, 63, .1);
                                        padding: 8px 14px 6px;
                                        font-size: 18px;
                                        border-radius: 4px;
                                        transition: all 0.5s;

                                        &:hover {
                                            .fa-pinterest-p {
                                                color: white;
                                            }

                                            background-color: #d8163f;
                                        }

                                        .fa-pinterest-p {
                                            color: #d8163f;
                                            transition: all 0.5s;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #services {
        background-color: #edeef3;
        position: relative;
        height: 600px;
        z-index: 0;
        overflow: hidden;

        .bg-images {
            .mint-circle {
                position: absolute;
                z-index: 1;
                top: 50%;
            }

            .pcircle {
                position: absolute;
                z-index: 1;
                left: 75%;
                top: 87%;
            }

            .container {
                .row {
                    justify-content: center;
                    .col-lg-5 {
                        .service-card {
                            margin-top: 100px;
                            padding: 50px 80px 62px;
                            border-radius: 6px;
                            box-shadow: 0 40px 50px #010b3c14;
                            background-color: white;

                            .top-card {
                                text-align: center;

                                i {
                                    padding: 20px 0px;
                                    font-size: 60px;
                                    transition: all 0.5s;
                                    color: #2b4eff;

                                    &:hover {
                                        transform: translateY(-10px);
                                    }
                                }
                            }

                            .middle-card {
                                text-align: center;

                                h3 {
                                    font-size: 26px;
                                    color: #0e1133;
                                    font-weight: 700;
                                }

                                p {
                                    margin-top: 30px;
                                    font-size: 16px;
                                    color: #53545b;
                                    font-weight: 400;
                                }
                            }

                            .bottom-card {
                                text-align: center;

                                button {
                                    height: 46px;
                                    border: 2px solid #d7d9e3;
                                    color: #0e1133;
                                    background: transparent;
                                    text-align: center;
                                    padding: 0 25px;
                                    border-radius: 4px;
                                    font-weight: 500;
                                    transition: all 0.5s;
                                    &:hover{
                                        background: #2b4eff;
                                        border-color: #2b4eff;
                                        color: #fff;
                                        box-shadow: 0 10px 24px #0417764d;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
footer {
    background-color: #141130;
    position: relative;
    #footer-main {
        padding-bottom: 50px;

        .container-custom {
            width: 75%;
            margin: 0 auto;

            .row {
                padding-top: 200px;

                .first-footer {

                    img {
                        margin-bottom: 30px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 24px;
                        color: #a1a2ab;
                        margin-bottom: 30px;
                    }

                    .icons {
                        display: flex;
                        gap: 10px;
                        cursor: pointer;

                        .fb {
                            background-color: #285da1;
                            padding: 6px 14px;
                            font-size: 20px;
                            border-radius: 4px;
                            transition: all 0.5s;

                            &:hover {
                                .fa-facebook-f {
                                    color: #285da1;
                                }

                                border: 1px solid #285da1;
                                background-color: transparent;
                            }

                            .fa-facebook-f {
                                color: white;
                                transition: all 0.5s;
                            }
                        }

                        .tw {
                            background-color: #03a9f4;
                            padding: 6px 11px;
                            font-size: 20px;
                            border-radius: 4px;
                            transition: all 0.5s;

                            &:hover {
                                .fa-twitter {
                                    color: #03a9f4;
                                }

                                border: 1px solid #03a9f4;
                                background-color: transparent;
                            }

                            .fa-twitter {
                                color: white;
                                transition: all 0.5s;
                            }
                        }

                        .pnt {
                            background-color: #d2173f;
                            padding: 6px 14px;
                            font-size: 20px;
                            border-radius: 4px;
                            transition: all 0.5s;

                            &:hover {
                                .fa-pinterest-p {
                                    color: #d2173f;
                                }

                                border: 1px solid #d2173f;
                                background-color: transparent;
                            }

                            .fa-pinterest-p {
                                color: white;
                                transition: all 0.5s;
                            }
                        }
                    }
                }

                .second-footer {
                    margin-left: 60px;

                    h3 {
                        padding-top: 5px;
                        font-size: 20px;
                        color: #fff;
                        font-weight: 700;
                    }

                    ul {
                        padding: 0;
                        list-style: none;
                        margin-top: 20px;

                        li {
                            color: #a1a2ab;
                            margin-top: 5px;
                            transition: all 0.5s;
                            cursor: pointer;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }

                .third-footer {
                    margin-left: 60px;

                    h3 {
                        padding-top: 5px;
                        font-size: 20px;
                        color: #fff;
                        font-weight: 700;
                    }

                    ul {
                        padding: 0;
                        list-style: none;
                        margin-top: 20px;

                        li {
                            color: #a1a2ab;
                            margin-top: 5px;
                            transition: all 0.5s;
                            cursor: pointer;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }

                .last-footer {
                    margin-left: 60px;

                    h3 {
                        padding-top: 5px;
                        font-size: 20px;
                        color: #fff;
                        font-weight: 700;
                    }

                    .input-group {
                        margin-top: 20px;
                        display: flex;

                        input {
                            width: 100%;
                            height: 60px;
                            padding: 0 50px 0 30px;
                            border-radius: 4px;
                            border: none;

                            &::placeholder {
                                font-size: 14px;
                            }

                            &:focus {
                                outline: none;
                            }
                        }

                        span {
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 18px;
                            color: #fff;
                            background: #2b4eff;
                            width: 70px;
                            height: 60px;
                            padding-right: 25px;

                            i {
                                font-size: 18px;
                                margin-top: 21px;
                                margin-left: 25px;
                                cursor: pointer;
                            }
                        }
                    }

                    p {
                        margin-top: 20px;
                        font-size: 14px;
                        line-height: 20px;
                        color: #83848a;
                        padding-right: 60px;
                    }
                }
            }
        }
    }

    hr {
        border: 0.1px solid #a2a3a6b0;
    }

    #footer-bottom {
        p {
            font-size: 14px;
            color: #83848a;
            margin: 0;
            text-align: center;
            padding-bottom: 14px;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

@media only screen and (max-width: 767px){
    main{
        #intro{
            .col-12{
                h1{
                    font-size: 40px !important;
                }
            }
        }
        #body-part{
            .col-lg-8{
                .heading{
                    img{
                        width: 36% !important;
                    }
                }
            }
            .col-lg-4{
                .background-images{
                    img{
                        display: none;
                    }
                }
            }
        }
        #services{
            .bg-images{
                img{
                    z-index: -10 !important;
                }
            }
        }
    }
    footer {
        #footer-main {
            .container-custom {
                margin: 0px 30px !important;

                .col-12 {
                    margin-left: 5px !important;
                    margin-top: 20px !important;
                }
            }
        }
    }
}




@keyframes animation-yellow {
    0% {
        width: 0;
    }

    15% {
        width: 10%;
    }

    85% {
        opacity: 1;
    }

    90% {
        width: 10%;
        opacity: 0;
    }

    100% {
        width: 0;
        opacity: 0;
    }
}